excel/HomeStudent2021Retail.img
excel/Setup.exe
excel/autorun.inf
excel/Office

StarUML/staruml-6.1.2_amd64.deb
StarUML/staruml-6.1.2-1-x86_64.pkg.tar.zst
StarUML/staruml-debug-6.1.2-1-x86_64.pkg.tar.zst
StarUML/pkg/
StarUML/src/
